
head{
  margin: 0;
}
body, html{
  background-color: #9CC69B;
  text-align: center;
  cursor: url("small.png"), pointer;

  font-family: 'Atkinson Hyperlegible';font-size: 18px;

    margin: auto

} 
p{
    background-color: #9CC69B;
    text-align: center;
    cursor: url("small.png"), pointer;

    font-family: 'Atkinson Hyperlegible';font-size: 18px;
      max-width: 700px;
      min-width: 100px;
      margin: auto

} 
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    flex-wrap: wrap;
  }
 .box {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #9CC69B;
          }
      
    h1{
        text-align: center;
    }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D7F2BA;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:#BDE4A8;
  }

  img{
    text-align: center;
    border-color: black;
    border-width: 4px;
  }

 