


body, html{
    background-color: #E1F4CB;
    text-align: center;
    cursor: url("small.png"), pointer;

    font-family: 'Atkinson Hyperlegible';font-size: 18px;


} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #717568;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #3F4739;
  }